*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
@charset "utf-8";
body{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	background-repeat: repeat;

    /*font-family: 'Arial',sans-serif;
    font-size: 16px;
    background-image: url(imagenes/uno.jpg);
  	text-align: center;
  	background-repeat: repeat;*/



}

a{
    text-decoration: none;
}
.contenedor{
	width: 80%;
	max-width: 1000px;
	margin: 30px auto;
	overflow: hidden;
	color: #FFF;
	background-color: rgba(to right, #0062E6, #33AEFF);

}

h2{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	color: #FFF;
	background-color: rgba(to right, #0062E6, #33AEFF);
}

.barra__buscador{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    width: 100%;
    overflow: hidden;

}

form .input__text{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #848688;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 15px;
    max-width: 30%;
    margin-right: 10px;
    outline: medium none;
    background-image: url(imagenes/uno.jpg);


}


form .input__text:focus{
    border: 1px solid #1b743c;
}
form .form-group{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: url(imagenes/uno.png);
}

form .form-group .input__text{
    max-width: 45% !important;
}


form .btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    background: rgb(3, 113, 163);
    margin-bottom: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    outline: medium none;
    cursor: pointer;
}
.btn__nuevo{
    float: right;
    background: #1b743c !important;
}

.btn__group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn__primary{
    background: rgb(3, 113, 163);
}
.btn__danger{
    background: #8a0505 !important;
}


/* table */
table{
    width: 100%;
    border-collapse: collapse;
    background-image: url(imagenes/uno.jpg);

}

table .head{
  background:  rgb(3, 113, 163);
}
table .head td{
    color: #fff;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-image: url(imagenes/uno.jpg);
    text-align: center;
}

table tr td{
    border:1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    color: #FFF;
}

.btn__update{
    display: inline-block;
    font-size: 14px;
    background: #1b743c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn__delete{
    display: inline-block;
    font-size: 14px;
    background: #8a0505;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
#bienvenido {
	background-color: #06F;
	border: 2px solid #9F3;
	background-image: url(imagenes/15576ce067d92fb.jpg);
}
